<a href="https://colab.research.google.com/github/Avinashsinghjawa/GreatLearning-AIML-Projects/blob/master/Introduction_to_Neural_Networks_and_Deep_Learning_R6_Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/content/drive/My Drive/6R Project/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:


#include relevant columns within x and y
x = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]

In [4]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
#deal with categorical data --> encode them

from sklearn.preprocessing import LabelEncoder
labelencoder_x = LabelEncoder()
x.iloc[:, 1] = labelencoder_x.fit_transform(x.iloc[:, 1]) #applying on Geography
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,Female,42,2,0.00,1,1,1,101348.88
1,608,2,Female,41,1,83807.86,1,0,1,112542.58
2,502,0,Female,42,8,159660.80,3,1,0,113931.57
3,699,0,Female,39,1,0.00,2,0,0,93826.63
4,850,2,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
#apply encoder on Gender as well
labelencoder_x_2 = LabelEncoder()
x.iloc[:, 2] = labelencoder_x_2.fit_transform(x.iloc[:, 2]) #applying on Gender
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [7]:
#One hot encoding. 

from keras.utils import to_categorical
encoded = pd.DataFrame(to_categorical(x.iloc[:, 1]))
#no need to encode Gender, as there are only two categories

x = pd.concat([encoded, x], axis = 1)
x.head()

Using TensorFlow backend.

,0,1,2,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,619,0,0,42,2,0.00,1,1,1,101348.88
1,0.0,0.0,1.0,608,2,0,41,1,83807.86,1,0,1,112542.58
2,1.0,0.0,0.0,502,0,0,42,8,159660.80,3,1,0,113931.57
3,1.0,0.0,0.0,699,0,0,39,1,0.00,2,0,0,93826.63
4,0.0,0.0,1.0,850,2,0,43,2,125510.82,1,1,1,79084.10

In [8]:
#Dropping the existing "geography" category, and one of the onehotcoded columns.

x = x.drop(['Geography', 0], axis = 1)
x.head()

,1,2,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.0,0.0,619,0,42,2,0.00,1,1,1,101348.88
1,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58
2,0.0,0.0,502,0,42,8,159660.80,3,1,0,113931.57
3,0.0,0.0,699,0,39,1,0.00,2,0,0,93826.63
4,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.10

In [0]:
#train and test set split, and feature scaling

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

### 2. Build the model using Keras
ANN with many hidden layers is one of the branches of Deep Learning.

In [10]:
import tensorflow as tf
tf.__version__

'1.13.1'

In [0]:
X_train = X_train.astype('float32')
y_train = Y_train.astype('float32')

X_test = X_test.astype('float32')
y_test = Y_test.astype('float32')

In [12]:
#Initialize Sequential Graph (model)
model = tf.keras.Sequential()

#Normalize the data
model.add(tf.keras.layers.BatchNormalization())


model.add(tf.keras.layers.Dense(6, activation = 'relu', input_shape=[len(X_train.keys())]))

model.add(tf.keras.layers.Dense( 6,  activation = 'relu'))

#the output layer
model.add(tf.keras.layers.Dense( 1,  activation = 'sigmoid'))

#Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

#compile the model --> backpropagation -> gradient descent
model.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

Now let's run the model.

In [13]:
model.fit(X_train.values,Y_train.values,          
          validation_data=(X_test.values,Y_test.values),
          epochs=20,
          batch_size=10)
#classifier.fit(X_train, Y_train, batch_size = 10, nb_epoch = 20)
#batch_size = the number of observations after which you want to update the weights
#           batch size and epochs should be tuned through experiments.
#epoch = going through the whole dataset

Train on 8000 samples, validate on 2000 samples
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/20
8000/8000 [==============================] - 2s 198us/sample - loss: 0.5627 - acc: 0.7226 - val_loss: 0.4525 - val_acc: 0.8040
Epoch 2/20
8000/8000 [==============================] - 1s 167us/sample - loss: 0.4404 - acc: 0.8073 - val_loss: 0.4315 - val_acc: 0.8140
Epoch 3/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.4298 - acc: 0.8183 - val_loss: 0.4211 - val_acc: 0.8220
Epoch 4/20
8000/8000 [==============================] - 1s 166us/sample - loss: 0.4199 - acc: 0.8224 - val_loss: 0.4082 - val_acc: 0.8340
Epoch 5/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.4156 - acc: 0.8229 - val_loss: 0.3912 - val_acc: 0.8460
Epoch 6/20
8000/8000 [==============================] - 1s 164us/sample - loss: 0.4068 - acc: 0.8266 - val_loss: 0.3702 - val_acc: 0.8570
Epoch 7/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3936 - acc: 0.8313 - val_loss: 0.3595 - val_acc: 0.8565
Epoch 8/20
8000/8000 [==============================] - 1s 166us/sample - loss: 0.3906 - acc: 0.8325 - val_loss: 0.3534 - val_acc: 0.8565
Epoch 9/20
8000/8000 [==============================] - 1s 164us/sample - loss: 0.3853 - acc: 0.8335 - val_loss: 0.3501 - val_acc: 0.8575
Epoch 10/20
8000/8000 [==============================] - 1s 170us/sample - loss: 0.3875 - acc: 0.8349 - val_loss: 0.3540 - val_acc: 0.8565
Epoch 11/20
8000/8000 [==============================] - 1s 164us/sample - loss: 0.3813 - acc: 0.8332 - val_loss: 0.3475 - val_acc: 0.8570
Epoch 12/20
8000/8000 [==============================] - 1s 164us/sample - loss: 0.3884 - acc: 0.8359 - val_loss: 0.3473 - val_acc: 0.8545
Epoch 13/20
8000/8000 [==============================] - 1s 167us/sample - loss: 0.3861 - acc: 0.8355 - val_loss: 0.3460 - val_acc: 0.8595
Epoch 14/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3801 - acc: 0.8380 - val_loss: 0.3468 - val_acc: 0.8590
Epoch 15/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3762 - acc: 0.8384 - val_loss: 0.3447 - val_acc: 0.8580
Epoch 16/20
8000/8000 [==============================] - 1s 169us/sample - loss: 0.3768 - acc: 0.8426 - val_loss: 0.3420 - val_acc: 0.8610
Epoch 17/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3756 - acc: 0.8440 - val_loss: 0.3431 - val_acc: 0.8585
Epoch 18/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3837 - acc: 0.8345 - val_loss: 0.3426 - val_acc: 0.8610
Epoch 19/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3793 - acc: 0.8406 - val_loss: 0.3430 - val_acc: 0.8560
Epoch 20/20
8000/8000 [==============================] - 1s 165us/sample - loss: 0.3791 - acc: 0.8404 - val_loss: 0.3446 - val_acc: 0.8580

In [14]:
#predicting the results

y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5) #to classify each probability into True or False

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
print (cm, '\n\n', y_pred[:5, :])

[[1526   69]
 [ 215  190]]

 [[False]
 [False]
 [False]
 [False]
 [False]]

In [16]:
#accuracy
print ((1526 + 190)/2000)

0.858

The fact that accuracy on train and test set are similar shows that the model did not overfit on the train set. Hyperparameters can be tuned to obtain better results.